.cta-email-sign-in__wrap {
  padding-top: var(--size-baseline-vertical);
}

/*
this is a minor ux detail,
it prevents the form from showing up in the back
animation for ajax-step-flow while keeping it shown for
users with no js at all
*/
*[data-enhanced] .cta-email-sign-in__wrap {
  display: none;
}

.cta-email-sign-in__cta {
  width: 100%;
  box-sizing: border-box;
}
