.cta-email-sign-in__wrap {
  padding-top: var(--size-baseline-vertical);
}
*[data-enhanced] .cta-email-sign-in__wrap {
  display: none;
}

.cta-email-sign-in__cta {
  width: 100%;
  box-sizing: border-box;
}
