@import './_form-button.css';

/*
checkbox
*/
.form-checkbox__input {
  @include formCheckbox(.form-checkbox__label);
}

.form-checkbox__label {
  @extend %form__label--checkbox;
  font-size: inherit;
  font-family: inherit;
}

/*
input
*/
.form-input {
  @extend %form__text-field-base;
  &.form-input__display-errors:invalid {
    border-color: var(--color-error);
    color: var(--color-error);
  }
}

/*
prelude
*/
.form-prelude {
  @extend %form__prelude;
}

/*
texty text
*/
.form-text {
  @extend %font-body-copy;
}

/*
generic input wrapper
*/
.form-field-wrap {
  margin: 0;
  padding: 0;
  border: 0;
}

.form-field-wrap + .form-field-wrap {
  margin-top: calc(var(--size-baseline) * 4);
}

.form-field-wrap > * {
  margin-bottom: calc(var(--size-baseline) * 2);
}

.form-field-wrap > label {
  display: block;
}

.form-field-wrap > .form-button {
  @supports (box-sizing: border-box) {
    width: 100%;
    box-sizing: border-box;
  }
}

.form-field-wrap__title {
  @extend %font-body-copy;
}

.form-field-wrap__footer {
  @extend %font-text-sans-1;
  &,
  .link {
    color: var(--color-text-light);
  }
}

/*
feedback
*/
%form-feedback {
  @extend %font-body-copy;
  padding: 0 0 0 calc(var(--size-baseline) * 8);
  position: relative;
  &:before {
    content: '';
    background: transparent center center no-repeat;
    background-size: contain;
    width: calc(var(--size-baseline) * 6.5);
    height: calc(var(--size-baseline) * 6.5);
    position: absolute;
    left: 0;
    top: calc(var(--size-baseline) * -0.75);
  }
}

.form-feedback {
  @extend %form-feedback;
}

.form-feedback--error {
  color: var(--color-error);
  &:before {
    background-image: inline('status-alert.svg');
  }
}

.form-feedback--info {
  color: var(--color-error);
  &:before {
    background-image: inline('status-info.svg');
  }
}

.form-feedback--bullet {
  &:before {
    background-image: inline('status-bullet.svg');
  }
}

.form-feedback-wrap {
  .form-feedback {
    margin: 0 0 var(--size-baseline-vertical) 0;
    .form-feedback__colourless {
      color: var(--color-text);
    }
    &:not(:first-child) {
      background: none;
    }
    &:last-child {
      margin: 0 0 var(--size-baseline-vertical) 0;
    }
  }
}
