@import './_form-button.css';

/*
checkbox
*/
.form-checkbox__input {
  @include formCheckbox(.form-checkbox__label);
}

.form-checkbox__label {
  @extend %form__label--checkbox;
  font-size: inherit;
  font-family: inherit;
}

/*
input
*/
.form-input {
  @extend %form__text-field-base;
  &.form-input__display-errors:invalid {
    border-color: var(--color-error);
    color: var(--color-error);
  }
}

/*
prelude
*/
.form-prelude {
  @extend %form__prelude;
}

/*
texty text
*/
.form-text {
  @extend %font-text-sans-3;
}

/*
generic input wrapper
*/
.form-field-wrap {
  margin: 0;
  padding: 0;
  border: 0;
}

.form-field-wrap + .form-field-wrap {
  margin-top: calc(var(--size-baseline) * 4);
}

.form-field-wrap > * {
  margin-bottom: calc(var(--size-baseline) * 2);
}

.form-field-wrap > label {
  display: block;
}

.form-field-wrap > .form-button {
  @supports (box-sizing: border-box) {
    width: 100%;
    box-sizing: border-box;
  }
}

.form-field-wrap__title {
  @extend %font-text-sans-2;
}

.form-field-wrap__footer {
  @extend %font-text-sans-1;
}

/*
feedback
*/
%form-feedback {
  @extend %font-text-2;
  background: transparent inline('status-alert.svg') left top no-repeat;
  padding: 0 0 0 calc(var(--size-baseline) * 6);
}

.form-feedback-wrap {
  .form-feedback {
    @extend %form-feedback;
    margin: 0 0 var(--size-baseline-vertical) 0;
    &:not(:first-child) {
      background: none;
    }
    &:last-child {
      margin: 0 0 var(--size-baseline-vertical) 0;
    }
  }
}

.form-feedback--error {
  color: var(--color-error);
  background-image: inline('status-alert.svg');
}

.form-feedback--info {
  color: var(--color-error);
  background-image: inline('status-alert.svg');
}
