<p class="terms">{{terms.conditionsText}} <a href="http://www.theguardian.com/help/terms-of-service">{{terms.termsOfServiceText}}</a> &amp; <a href="http://www.theguardian.com/help/privacy-policy">{{terms.privacyPolicyText}}</a>.</p>
