.third-party-ts-and-cs {
  @extend %content-container;
}

.third-party-terms__features-list {
  margin-top: 0;
  margin-bottom: 1.8rem;
  padding-left: 2rem;
}

.third-party-terms__feature-intro,
.third-party-terms__feature-outro {
  @extend %font-text-1;
  margin-top: 0;
}

.third-party-terms__features-list-item {
  @extend %font-text-1;
  color: #333;
}

.third-party-ts-and-cs__confirm-agree {
  @extend %form__button--submit;
  margin: 1.2rem 0;
}

.third-party-terms__text {
  @extend %font-text-sans-1;
  border-top: 1px solid #eee;
  color: #333;
  margin: 0 0 2.4rem;
  padding-top: 0.6rem;
}

.third-party-terms__link {
  @extend .link;
}
