@import '../grid';

.signin__prelude {
  @extend %font-text-1;
  color: #333;
  background-color: #ddd;
  padding: 10px 20px;
  margin-top: 20px;

  p {
    margin: 10px 0;
  }
}


.signin__heading {
  @extend %font-heading-1;
  margin: 0.5em 0 0.5em;
}

.signin-form {
  max-width: 600px;
}


.signin-form__prelude {
  @extend %font-text-1;
}

.signin-form__fieldset {
  border: none;
  border-top: 1px solid #989898;
  margin: 0;
  padding: 10px 0 0 0;
}


%signin-form__control {
  @extend %row;
  margin: 10px 0;
}

.signin-form__email-password-wrapper {
  @extend %row;
}

.signin-form__control--email,
.signin-form__control--password,
.signin-form__control--remember-me,
.signin-form__control--submit {
  @extend %signin-form__control;
}

%signin-form__label {
  @extend %font-text-2;
  display: block;
  font-weight: normal;
}

.signin-form__label--email,
.signin-form__label--password,
.signin-form__label--submit {
  @extend %signin-form__label;
}

.signin-form__label--remember {
  @extend %font-text-1;
}

%signin-form__field {
  @extend %font-text-sans-2;
  display: block;
  background-color: #fff;
  border: 1px solid #989898;
  color: #000;
  padding: 5px 15px;
  border-radius: 15px;
  margin: 5px 0;
  min-width: 60%;
}

.signin-form__field--email,
.signin-form__field--password {
  @extend %signin-form__field;
  box-sizing: border-box;
  width: 100%;
}

.signin-form__control--submit {
  margin-bottom: 20px;
}

.signin-form__submit-button {
  @extend %font-text-2;
  background-color: #005689;
  border: 0;
  border-radius: 15px;
  color: white;
  display: block;
  text-align: left;
  padding: 5px 10px 5px 15px;
  width: 100%;
}

.signin-form__cta--signup,
.signin-form__cta--reset {
  @extend %font-text-1;
  clear: both;
  margin: 10px 0;
}

.signin-form__terms {
  @extend %font-text-1;
  margin: 20px 0;
  padding-top: 10px;
  border-top: 1px solid #989898;
}
