@import '../grid';

.signin__prelude {
  color: #333;
  background-color: #ddd;
  padding: 10px;
}


.signin__heading {
  font-size: 24px;
}


.signin-form__fieldset {
  border: none;
  border-top: 1px solid #999;
  margin: 0;
  padding: 20px 0 0 0;
}


%signin-form__control {
  @extend %row;
  margin: 10px 0;
}

.signin-form__control--email,
.signin-form__control--password {
  @extend %column-6;
}

.signin-form__control--remember-me,
.signin-form__control--submit {
  @extend %signin-form__control;
}

%signin-form__label {
  display: block;
  font-weight: normal;
}

.signin-form__label--email,
.signin-form__label--password,
.signin-form__label--submit {
  @extend %signin-form__label;
}

%signin-form__field {
  display: block;
  border: 1px solid #999;
  padding: 5px 15px;
  border-radius: 15px;
  margin: 5px 0;
  min-width: 60%;
}

.signin-form__field--email,
.signin-form__field--password {
  @extend %signin-form__field;
}

.signin-form__submit {
  background-color: #005689;
  color: white;
  padding: 5px 10px;
  border: 0;
  border-radius: 15px;
}
