.resend-consent-error {
  @extend %form__error;
}

.resend-consent__details {
  @extend %font-text-1;
}

.resend-consent__text {
  @extend %font-text-1;

  a {
    @extend .link;
  }
}

/** Form **/

.resend-consent-form {
  padding-top: 1.5rem;
}

.resend-consent-form__fieldset {
  @extend %form__fieldset;
}

.resend-consent-form__error {
  @extend %form__error;
}

/** Button: Submit **/

.resend-consent-form__control--submit {
  margin: 2rem 0;
}

.resend-consent-form__submit-button {
  @extend %form__button--submit;
}

.page-standfirst {
  & .resend-link-description {
    margin-top: 15px;
  }
}
