/* Define global breakpoints for media queries */

@custom-media --viewport-min-mobile (min-width: 320px);
@custom-media --viewport-max-mobile (max-width: 320px);
@custom-media --viewport-min-mobile-landscape (min-width: 480px);
@custom-media --viewport-max-mobile-landscape (max-width: 480px);
@custom-media --viewport-min-phablet (min-width: 660px);
@custom-media --viewport-max-phablet (max-width: 660px);
@custom-media --viewport-min-tablet (min-width: 740px);
@custom-media --viewport-max-tablet (max-width: 740px);
@custom-media --viewport-min-desktop (min-width: 980px);
@custom-media --viewport-max-desktop (max-width: 980px);
@custom-media --viewport-min-leftCol (min-width: 1140px);
@custom-media --viewport-max-leftCol (max-width: 1140px);
@custom-media --viewport-min-wide (min-width: 1300px);
@custom-media --viewport-max-wide (max-width: 1300px);

/* Viewports */
@custom-media --viewport-mobile-wide (--viewport-min-mobile-landscape) and (--viewport-max-tablet);
@custom-media --viewport-phablet (--viewport-min-phablet) and (--viewport-max-tablet);
@custom-media --viewport-tablet (--viewport-min-tablet) and (--viewport-max-desktop);
@custom-media --viewport-desktop (--viewport-min-desktop) and (--viewport-max-leftCol);
@custom-media --viewport-wide (--viewport-min-leftCol);
