$gridcolumns: 12;

%clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

%row {
  @extend %clearfix;
}

%column {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  width: 100%;
}

/* TODO: breakpoints for responsive columns */

@for $index from 1 to $gridcolumns {
  %column-$index {
    @extend %column;
    width: calc(100% / $gridcolumns * $index);
  }
}

