$gridcolumns: 12;

%clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

%row {
  @extend %clearfix;
}

%column {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  width: 100%;
}

/* TODO: breakpoints for responsive columns */

%column-3 {
  @extend %column;
  width: calc(100% / $gridcolumns * 3);
}

%column-6 {
  @extend %column;
  width: calc(100% / $gridcolumns * 6);
}

%column-9 {
  @extend %column;
  width: calc(100% / $gridcolumns * 9);
}
