/**
 * Typography: typographic styles.
 */

@import 'fonts/fonts';

$base-font-size: 10;


html {
  font-size: calc( $base-font-size / 16em );  /* reset from default 16px to base */
  text-rendering: optimizeSpeed;
}


@define-mixin font-size $size, $line-height  {
  font-size: calc( 0px + $size );
  font-size: calc( 0rem + $size / 10 );
  line-height: calc( 0px + $line-height );
  line-height: calc( 0rem + $line-height / 10 );
}

%font-serif {
  font-family: GuardianTextEgyptianWeb, Georgia, serif;
}

%font-sans-serif {
  font-family: GuardianTextSansWeb, 'Helvetica Neue' , Helvetica, Arial, 'Lucida Grande', sans-serif;
}

%font-heading-1 {
  @extend %font-serif;
  @mixin font-size 24, 28;
}

%font-text-1 {
  @extend %font-serif;
  @mixin font-size 14, 20;
}

%font-text-2 {
  @extend %font-serif;
  @mixin font-size 16, 24;
}

%font-text-3 {
  @extend %font-serif;
  @mixin font-size 18, 28;
}

%font-text-sans-0 {
  @extend %font-sans-serif;
  @mixin font-size 12, 16;
}

%font-text-sans-1 {
  @extend %font-sans-serif;
  @mixin font-size 14, 18;
}

%font-text-sans-2 {
  @extend %font-sans-serif;
  @mixin font-size 16, 20;
}
