/**
 * Typography: typographic styles.
 *
 * Reset from estimated browser default font-size of 16px to $base-font-size
 */

@import "fonts/_fonts.css";

$base-font-size: 10;

html {
  font-size: calc($base-font-size / 16em);
  text-rendering: optimizeSpeed;
}

@define-mixin font-size $size, $line-height {
  font-size: calc($size / $base-font-size * 1rem);
  line-height: calc($line-height / $base-font-size * 1rem);
}

%font-serif {
  font-family: GuardianTextEgyptianWeb, Georgia, serif;
}

%font-sans-serif {
  font-family: GuardianTextSansWeb, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

%font-heading {
  font-family: GuardianEgyptianWeb, Georgia, serif;
}

%font-heading-0 {
  @extend %font-heading;
  @mixin font-size 28, 32;
}

%font-heading-1 {
  @extend %font-heading;
  @mixin font-size 36, 40;
}

%font-sub-heading-0 {
  @extend %font-heading;
  @mixin font-size 16, 20;
}

%font-sub-heading-1 {
  @extend %font-heading;
  @mixin font-size 18, 22;
}

%font-sub-heading-2 {
  @extend %font-heading;
  @mixin font-size 20, 28;
}


%font-text-0 {
  @extend %font-serif;
  @mixin font-size 13, 18;
}

%font-text-1 {
  @extend %font-serif;
  @mixin font-size 14, 20;
}

%font-text-2 {
  @extend %font-serif;
  @mixin font-size 16, 24;
}


%font-text-sans-0 {
  @extend %font-sans-serif;
  @mixin font-size 12, 16;
}

%font-text-sans-1 {
  @extend %font-sans-serif;
  @mixin font-size 13, 18;
}

%font-text-sans-2 {
  @extend %font-sans-serif;
  @mixin font-size 14, 20;
}

%font-text-sans-3 {
  @extend %font-sans-serif;
  @mixin font-size 16, 20;
}
