/**
 * Page footer styles
 */

.footer {
  @extend %font-text-sans-0;
  background-color: var(--color-brand);
  color: color(var(--color-brand) lightness(80%));
}

.footer__inner {
  @extend %page-block;
}

.footer__copyright {
  border-top: 1px solid color(var(--color-brand) lightness(25%));
  clear: both;
  margin: 0;
  padding: 0.6rem 0 2.5rem;
  opacity: 0.75;
}

@mixin footer-columns($cols: 1, $gap: 0) {
  column-count: $cols;
  column-gap: $gap;
}

.colophon__list {
  @include footer-columns(2);

  @media all and (min-width: 600px) {
    @include footer-columns(3);
  }

  margin: 2.5rem 0 0.6rem;
  padding: 0;
  list-style: none;

  a {
    display: inline-block;
    margin: 0 0 0.6rem;
    color: currentColor;

    &:hover {
      color: #fff;
    }
  }
}
