/**
 * Page footer styles
 */

.footer {
  @extend %font-sans-serif;
  background-color: #484848;
  color: #dcdcdc;
}

.footer__inner {
  @extend %page-block;
}

.footer__copyright {
  @extend %font-text-sans-0;

  border-top: 1px solid #666;
  clear: both;
  margin: 0;
  padding: 0.6rem 0 2.5rem;
}

@define-mixin footer-columns $cols: 1, $gap: 0 {
  column-count: $cols;
  column-gap: $gap;
}

.colophon__list {
  @extend %font-text-sans-1;
  @mixin footer-columns 2;

  @media all and (min-width: 600px) {
    @mixin footer-columns 3;
  }

  @media all and (min-width: 980px) {
    @mixin footer-columns 4;
  }

  margin: 2.5rem 0 0.6rem;
  padding: 0;
  list-style: none;

  a {
    display: inline-block;
    margin: 0 0 0.6rem;
    text-transform: lowercase;
    color: #dcdcdc;
  }
}
