.reset-password__subtitle {
  @extend %font-text-2;
  font-weight: normal;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.reset-password__secondary_heading {
  @extend %font-text-2;
  font-weight: normal;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.reset-password__section {
  @extend %content-block;
}

.reset-password__section {
  .page-content {
    background: var(--color-page-bg);
  }
}

.reset-password__text {
  @extend %font-text-1;

  a {
    @extend .link;
  }
}

/** Form **/

.reset-password-form {
  padding-top: 1.5rem;
}

.reset-password-form__fieldset {
  @extend %form__fieldset;
}


.reset-password-form__error {
  @extend %form__error;
}

.reset-password-form__control--email {
  @extend %form__control;
}

.reset-password-form__label--email {
  @extend %form__label;
}

.reset-password-form__field--email {
  @extend %form__text-field;
}

/** Button: Submit **/

.reset-password-form__control--submit {
  margin: 2rem 0;
}

.reset-password-form__submit-button {
  @extend %form__button--submit;
}
