.reset-password__heading {
  @extend %page-heading;
}

.reset-password__subtitle {
  @extend %font-text-2;
  @extend %content-container;
  font-weight: normal;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.reset-password__secondary_heading {
  @extend %font-text-2;
  @extend %content-container;
  font-weight: normal;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.reset-password__text {
  @extend %content-container;
  @extend %font-text-1;
}

/** Form **/

.reset-password-form {
  @extend %content-container;
}

.reset-password-form__fieldset {
  @extend %form__fieldset;
}


.reset-password-form__error {
  @extend %form__error;
}

.reset-password-form__control--email {
  @extend %form__control;
}

.reset-password-form__label--email {
  @extend %form__label;
}

.reset-password-form__field--email {
  @extend %form__text-field;
}

/** Button: Submit **/

.reset-password-form__control--submit {
  margin: 2rem 0 5rem 0;
}

.reset-password-form__submit-button {
  @extend %form__button--submit;
}
