:root {
  --color-brand: #005689;
  --color-brand-alt: #005689;
  --color-bg: #f4f4f4;
  --color-page-bg: #f1f1f1;
  --color-card: #f6f6f6;
  --color-border: #dfdfdf;

  @if $is-snow > 0 {
    --color-page-bg: #fff;
    --color-bg: #fff;
    --color-brand: #121212;
    --color-brand-alt: #567681;
    --color-card: #e7edef;
    --color-border: #dcdcdc;
  }
}
