:root {
  --color-brand: #121212;
  --color-cta: #ffe500;
  --color-card: #f7f6f5;
  --color-border: #dcdcdc;
  --color-border-hover: #a4a3a5;

  --color-text: #121212;
  --color-text-light: #444;

  --color-bg: var(--color-card);
}
