@import "components/_normalise.css";
@import "components/_grid.css";
@import "components/_typography.css";

html {
  height: 100%;
}

body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body > section:last-of-type {
  flex-grow: 1;
}

%page-block {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 1rem;


  @media all and (min-width: 480px) {
    padding: 0 2rem;
  }

  @media all and (min-width: 980px) {
    max-width: 980px;
    max-width: 98rem;
  }

  @media all and (min-width: 1140px) {
    max-width: 1140px;
    max-width: 114rem;
  }

}

%content-container {
  background: white;
  max-width: 54rem;
  width: 54rem;
  margin: 0 auto;
  padding: 0 34rem 0 26rem;
}

%page-heading {
  @extend %font-heading-1;
  @extend %content-container;
  color: #333;
  font-weight: normal;
  padding-top: 0.6rem;
  padding-bottom: 3.6rem;
}

@import "components/header/_header.css";
@import "components/footer/_footer.css";

.content {
  @extend %page-block;
  background-color: #fff;
  padding: 2rem;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
}

a {
  color: #005689;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/** Global style for links in the body text */

.link {
  @extend a;
  border-bottom: 1px solid #dcdcdc;
  transition: border-color 0.15s ease-out;

  &:hover,
  &:focus {
    text-decoration: none;
    border-color: #6e99b3;
  }
}
