.layout-wrap-width {
  @extend %content-container;
  max-width: 48em;
}

.layout-skip-link {
  @extend %font-body-copy;
  text-align: center;
  color: var(--color-text);
  background: var(--color-cta);
  text-decoration: underline;
  position: absolute;
  height: var(--size-header-height);
  line-height: var(--size-header-height);
  top: calc(var(--size-header-height) * -1);
  display: block;
  &:focus {
    position: static;
  }
}

.layout-header {
  padding: var(--size-baseline) 0 var(--size-baseline-vertical);
  display: block;
  &:hover {
    text-decoration: none;
  }
}

.layout-header__title {
  @extend %font-heading-1;
  font-weight: normal;
  margin: 0;
  color: currentColor;
  text-decoration: none;
  a {
    @extend %link;
    color: currentColor;
  }
  &.layout-header__title--standfirst {
    @extend %font-heading-0;
    line-height: 1.2;
    font-weight: 300;
    color: var(--color-text-light);
  }
  &.layout-header__title--has-proxy {
    display: flex;
    flex-direction: column;
    @media (--viewport-min-mobile-landscape) {
      align-items: baseline;
      justify-content: space-between;
      flex-direction: row;
    }
    > div:nth-child(1) {
      overflow: hidden;
      word-wrap: break-word;
    }
    > .layout-header__title__proxy {
      flex: 0 0 auto;
      align-self: flex-end;
      margin-left: var(--size-baseline);
    }
  }
}

.layout-header__title__proxy {
  @extend %font-text-sans-1;
  @extend %link;
  color: currentColor;
}

.layout-section {
  margin-top: var(--size-baseline-vertical);
  border-top: 1px solid var(--color-border);
  padding-top: var(--size-baseline);
  &.layout-section--far {
    margin-top: calc(var(--size-baseline-vertical) * 3);
  }
  &.layout-section--no-border {
    padding-top: 0;
    border-top: 0;
  }
}

/*
texty text
*/
.layout-text {
  @extend %font-body-copy;
  a {
    @extend .link;
  }
  &.layout-text--center {
    text-align: center;
  }
  &.layout-text--small {
    @extend %font-text-sans-1;
    color: var(--color-text-light);
  }
}
