/* Colours */
:root {
  --color-brand: #121212;
  --color-cta: #ffe500;

  --color-border: #dcdcdc;
  --color-border-hover: #a4a3a5;

  --color-text: #121212;
  --color-text-light: #444;

  --color-error: #c70000;

  --color-link: var(--color-text);
  --color-link-underline: var(--color-border-hover);

  --color-bg: #f6f6f6;
}

/* Metrics */
:root {
  --size-baseline: 0.425rem;
  --size-baseline-gutter: calc(var(--size-baseline) * 4);
  --size-baseline-vertical: calc(var(--size-baseline) * 8);
  --size-header-height: 4.2rem;
}
