{{# partial "pageTitle" }}{{ text.pageTitle }}{{/ partial }}

{{# partial "content" }}

    <h1 class="error__heading">{{ text.title }}</h1>

    <p class="error__desc">{{ text.description }}</p>

{{/ partial }}

{{> layout}}
