/* Globals */

@import '_vars.css';
@import '_mixins.css';

/* Base */

@import '_html.css';
@import 'components/form-foundations/_form_foundations.css';

/** Layout **/

@import '_layout.css';

/** Generic blocks **/

@import 'components/form/_form.css';
@import 'components/error-page-content/_error-page-content.css';
@import 'components/ajax-form/_ajax-form.css';

/** Terms and conditions **/

@import 'components/terms/_terms.css';

/** Sign in page **/

@import 'components/signin-form/_signin-form.css';
@import 'components/oauth-cta/_oauth-cta.css';

/** Register page **/

@import 'components/register-form/_register-form.css';

/** Register Confirmation page **/

@import 'components/register-confirmation/_register-confirmation';

/** Skins **/

@import 'components/jobs/_jobs.css';

/** Reset password page **/

@import 'components/reset-password/_reset-password';

/** Resend Consent page **/

@import 'components/resend-consent/_resend-consent.css';

/** Third Party Ts and Cs page **/

@import 'components/third-party-ts-and-cs/_third-party-ts-and-cs.css';
