@import "_layout.css";
@import "components/form-foundations/_form_foundations.css";

/** Error pages **/

@import "components/error-page-content/_error-page-content.css";


/** Terms and conditions **/

@import "components/terms/_terms.css";


/** Sign in page **/

@import "components/signin/_signin.css";
@import "components/oauth-cta/_oauth-cta.css";

/** MVT: Sign in v2 variant B **/

@import "components/signin-b/_signin-b.css";


/** Register page **/

@import "components/register-form/_register-form.css";

/** Register Confirmation page **/

@import "components/register-confirmation/_register-confirmation";
