{{# partial "content" }}

  <h1 class="signin__heading">Create your Guardian account</h1>

  {{> components/oauth-cta/_oauth-cta }}

  {{> components/register-form/_register-form }}

  {{> components/terms/_terms }}

{{/ partial }}

{{> layout}}
