{{# partial "pageTitle" }}{{ resetPasswordEmailSentText.pageTitle }}{{/ partial }}


{{# partial "content" }}
    <h1 class="page-heading">{{ resetPasswordEmailSentText.title }}</h1>
    <section class="page-content">
        <p class="reset-password__text">{{ resetPasswordEmailSentText.instructions1 }}</p>
        <p class="reset-password__text">{{ resetPasswordEmailSentText.instructions2 }}</p>
    </section>
{{/partial}}
{{> layout}}
