{{# partial "pageTitle" }}{{ sendSignInLinkSentText.pageTitle }}{{/ partial }}


{{# partial "content" }}
  <section class="layout-wrap-width">

    <div class="ajax-step-flow"><div class="ajax-step-flow__slide">

      <section class="layout-header">
        <h1 class="layout-header__title">{{ sendSignInLinkSentText.title }}</h1>
      </section>

      <div class="form-field-wrap">
        <p class="form-field-wrap__field form-text">{{ sendSignInLinkSentText.text }}</p>
      </div>

    </div></div>

  </section>
{{/partial}}
{{> layout}}
