{{# partial "pageTitle" }}{{ sendSignInLinkText.pageTitle }}{{/ partial }}


{{# partial "content" }}
  <section class="layout-wrap-width">

    <section class="layout-header">
      <h1 class="layout-header__title">{{ sendSignInLinkText.title }}</h1>
    </section>

  </section>
{{/partial}}
{{> layout}}
