{{# partial "pageTitle" }}{{ twoStepSignInPageText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <section class="layout-wrap-width">
    <div class="ajax-step-flow"><div class="ajax-step-flow__slide">

      {{#userTypes.isExisting}}
        {{> components/two-step-signin/two-step-signin-existing }}
      {{/userTypes.isExisting}}
      {{#userTypes.isNew}}
        {{> components/two-step-signin/two-step-signin-new }}
      {{/userTypes.isNew}}
      {{#userTypes.isGuest}}
        {{> components/two-step-signin/two-step-signin-guest }}
      {{/userTypes.isGuest}}

      <footer class="layout-section">
        {{> components/terms/_terms-inline }}
      </footer>

    </div></div>
  </section>
{{/partial}}

{{> layout}}
