.register-confirm {
  @extend %content-container;
}

.register-confirm__complete-registration-button {
  @extend %form__button--submit;

  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}

.register-confirm__nav-bar {
  border-top: 1px solid #eee;
  margin: 2.4rem auto;
  padding: 1.2rem 0 0;
  text-align: center;
}

.register-confirm__nav-bar-item {
  @extend %font-text-sans-1;
  display: inline-block;
  margin: 0 1rem;
}

.register-confirm__nav-bar-item-link {
  @extend .link;
}

