.register-confirm {
  @extend %content-container;
  padding-left: 3rem;
  padding-right: 3rem;
}

.register-confirm__complete-registration-button {
  @extend %form__button--submit;
  margin: 2.4rem 3rem 2.4rem 0;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}

.register-confirm__nav-bar {
  border-top: 1px solid #eee;
  margin: 2.4rem auto;
  padding: 1.2rem 0 0;
  text-align: center;
}

.register-confirm__section {
  border-top: 2px solid #f4f4f4;
}


.page-content--confirm {
  @extend .page-content;
  @extend %font-text-sans-2;
  padding: 1rem 0 1rem 0;
}

.register-confirm__nav-bar-item {
  @extend %font-text-sans-1;
  display: inline-block;
  margin: 0 1rem;
}

.register-confirm__nav-bar-item-link {
  @extend .link;
}

