
.signin__prelude {
  @extend %font-text-1;
  @extend %content-container;
  color: #333;
  background-color: #ddd;
  padding: 10px 20px;
  margin-top: 20px;

  p {
    margin: 10px 0;
  }
}


.signin__section {
  background: #e7e7e7;
}

.signin-form {
  @extend %content-container;
  background: #f1f1f1;
}

.signin-form--with-errors {
  @extend .signin-form;
}


.signin-form__prelude {
  @extend %form__prelude;
}

.signin-form__fieldset {
  @extend %form__fieldset;
  position: relative;
}


.signin-form__error {
  @extend %form__error;
}


/** Field: Email address **/

.signin-form__control--email {
  @extend %form__control;
  margin-bottom: 1.2rem;
}

.signin-form__label--email {
  @extend %form__label;
}

.signin-form__field--email {
  @extend %form__text-field;
}


/** Field: Password **/

.signin-form__control--password {
  @extend %form__control;
  margin-bottom: 0.9rem;
}

.signin-form__label--password {
  @extend %form__label;
}

.signin-form__field--password {
  @extend %form__text-field;
}


/** Field (checkbox): Remember me **/

.signin-form__control--remember-me {
  @extend %form__control;
}

.signin-form__checkbox--remember-me {
  @mixin formCheckbox .signin-form__label--remember-me;
}

.signin-form__label--remember-me {
  @extend %form__label--checkbox;
  @extend %font-text-sans-1;
  color: #333;
  float: left;
}


/** Button: Submit **/

.signin-form__control--submit {
  margin: 2rem 0;
}

.signin-form__submit-button {
  @extend %form__button--submit;
}


/** CTA: Sign up **/

.signin__cta-section {
  @extend %content-container;
}

.signin__cta--signup {
  @extend %font-text-sans-1;
  color: #333;
  margin: 1.2rem 0;
}

.signin__cta-link--signup {
  @extend .link;
}


/** CTA: Reset password **/

.signin-form__cta--reset {
  @extend %font-text-sans-1;
  color: #333;
  position: absolute;
  right: 0;
  margin: 0;
}

.signin-form__cta-link--reset {
  @extend .link;
}

/** Recaptcha form **/

.signin-form__recaptcha-wrapper {
  margin-top: 2rem;
  text-align: center;
}

.signin-form__recaptcha {
  display: inline-block;
}
