<a class="layout-header ajax-step-flow__link" data-is-reverse="true" href="{{signinUrl}}" >
  <h1 class="layout-header__title">{{ twoStepSignInPageText.welcome }}</h1>
  <div class="layout-header__title layout-header__title--has-proxy layout-header__title--standfirst">
    <div>{{{emailForDisplay}}}</div>
    <div class="layout-header__title__proxy">{{twoStepSignInPageText.changeEmailLink}}</div>
  </div>
</a>
