<div class="two-step-signin-form">

  <form method="POST" action="{{ actions.resetPassword }}" class="form-field-wrap">
    {{> components/two-step-signin/_helpers }}
    <input name="email" type="hidden" value="{{email}}" />
    <label class="form-field-wrap__title" for="signin_field_email">{{twoStepSignInPageText.setPasswordTitle}}</label>
    <button type="submit" class="form-button form-button--main form-field-wrap__field">{{twoStepSignInPageText.setPasswordAction}} {{> components/icon/arrow-inline }}</button>
  </form>

</div>
