<form class="two-step-signin-form" method="POST" action="{{ actions.signInWithEmailAndPassword }}">

  {{> components/two-step-signin/_helpers }}

  <div class="form-field-wrap">
    <label class="form-field-wrap__title" for="signin_field_email">{{twoStepSignInPageText.setPasswordTitle}}</label>
    <a href="{{forgotPasswordUrl}}" class="form-button form-button--main form-field-wrap__field">{{twoStepSignInPageText.setPasswordAction}} {{> components/icon/arrow-inline }}</a>
  </div>

</form>
