.register__heading {
  @extend %page-heading;
}

.register__standfirst {
  @extend %page-standfirst;
}

.register__standfirst-paragraph {
  margin: 0 0 0.8rem;
}

.register__section {
  background: #e7e7e7;
}

.register-form {
  @extend %content-container;
  background: #f1f1f1;
}

.register-form__prelude {
  @extend %form__prelude;
}

.register-form__fieldset {
  @extend %form__fieldset;
}

.register-form__error {
  @extend %form__error;
}


/** Field: Name **/

.register-form__control--name {
  @extend %form__control;
  margin-bottom: 1.2rem;
}

.register-form__label--name {
  @extend %form__label;
}

%register-form__control-column {
  @extend %column-6;
  padding: 0 1rem;

  @media (--viewport-max-mobile-landscape) {
    width: 100%;
    padding: 0;
  }
}

.register-form__control-column--firstname {
  @extend %register-form__control-column;
  padding-left: 0;
}

.register-form__control-column--lastname {
  @extend %register-form__control-column;
  padding-right: 0;
}

.register-form__field--firstname {
  @extend %form__text-field;
}

.register-form__field--lastname {
  @extend %form__text-field;
}


/** Field: Username **/

.register-form__control--username {
  @extend %form__control;
  margin-bottom: 1.2rem;
}

.register-form__label--username {
  @extend %form__label;
}

.register-form__field--username {
  @extend %form__text-field;
}


/** Field: Email **/

.register-form__control--email {
  @extend %form__control;
  margin-bottom: 1.2rem;
}

.register-form__label--email {
  @extend %form__label;
}

.register-form__field--email {
  @extend %form__text-field;
}

/** Field: Password **/

.register-form__control--password {
  @extend %form__control;
  margin-bottom: 0.9rem;
}

.register-form__label--password {
  @extend %form__label;
}

.register-form__field--password {
  @extend %form__text-field;
}


/** Field (checkbox): GNM Marketing **/

.register-form__control--gnm-marketing {
  @extend %form__control;
  margin-bottom: 0.6rem;
}

.register-form__checkbox--gnm-marketing {
  @mixin formCheckbox .register-form__label--gnm-marketing;
}

.register-form__label--gnm-marketing {
  @extend %form__label--checkbox;
  @extend %font-text-sans-1;
  color: #333;
}


/** Field (checkbox): 3rd Party Marketing **/

.register-form__control--3rd-party-marketing {
  @extend %form__control;
}

.register-form__checkbox--3rd-party-marketing {
  @mixin formCheckbox .register-form__label--3rd-party-marketing;
}

.register-form__label--3rd-party-marketing {
  @extend %form__label--checkbox;
  @extend %font-text-sans-1;
  color: #333;
}


/** Button: Submit **/

.register-form__control--submit {
  margin: 2rem 0;
}

.register-form__submit-button {
  @extend %form__button--submit;
}


/** CTA: Sign in **/

.register__cta-section {
  @extend %content-container;
}

.register__cta--sign-in {
  @extend %font-text-sans-1;
  color: #333;
  margin: 1.2rem 0;
}

.register__cta-link--sign-in {
  @extend .link;
}
