<div class="social-signin">
  <div class="social-signin__cta-wrapper">
    <a class="social-signin__cta--facebook" id="social_signin_cta_facebook" href="{{ links.socialFacebook }}">Sign in with Facebook</a>
  </div>
  <div class="social-signin__cta-wrapper">
    <a class="social-signin__cta--google" id="social_signin_cta_google" href="{{ links.socialGoogle }}">Sign in with Google</a>
  </div>
</div>
