<div class="social-signin">
    <a class="social-signin__cta--facebook" href="{{ links.socialFacebook }}">Sign in with Facebook</a>
    <a class="social-signin__cta--google" href="{{ links.socialGoogle }}">Sign in with Google</a>
</div>
