.sts-button {
  @extend %form__button--submit;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  &.sts-button--secondary {
    background: transparent;
    border: 1px solid var(--color-border);
    &:hover, &:focus {
      text-decoration: none;
      border-color: var(--color-border-hover);
    }
  }
}

.sts-slider__slide_section {
  padding: 0.875rem 0 0;
  margin-top: 3rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: color(var(--color-border) alpha(50%));
    height: 1px;
    left: -100%;
    right: -100%;
    top: 0;
  }
}

.sts-field-wrap {
  margin: 0;
  padding: 0;
  border: 0;
}

.sts-field-wrap > * {
  margin-bottom: calc(var(--size-baseline) * 2);
}
.sts-field-wrap__title {
  @extend %font-text-sans-2;
  opacity: 0.75;
}
.sts-field-wrap__field {
  @media (--viewport-min-mobile-wide) {
    @supports(height:calc(2px + 2px)) {
      margin-left: calc(var(--size-baseline-gutter) * -1);
      margin-right: calc(var(--size-baseline-gutter) * -1);
      width: calc(100% + calc(var(--size-baseline-gutter) * 2));
    }
  }
}

.sts-input {
  @extend %form__text-field;
}

.sts-input-wrap {
  .sts-input-wrap__info {
    @extend %font-text-sans-2;
    margin-bottom: var(--size-baseline);
  }
}

.sts-input-wrap.sts-input-wrap--error {
  color: var(--color-error);
  .sts-input {
    border-color: var(--color-error);
  }
}

.sts-slider {
  position: relative;
  min-height: 100%;
}

.sts-slider__slide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  visibility: hidden;
  display: none;
  &[data-state=SLIDE_STATE_LOADING] {
    opacity: 0.5;
  }
}

.sts-slider__slide--visible {
  visibility: visible;
  display: block;
}

.sts-slider__slide--out {
  visibility: visible;
  display: block;
  animation: sts-animation__slide-left 0.2s both;
}
.sts-slider__slide--in {
  visibility: visible;
  display: block;
  animation: sts-animation__slide-right reverse 0.2s both;
}
.sts-slider__slide--out-reverse {
  visibility: visible;
  display: block;
  animation: sts-animation__slide-right 0.2s both;
}
.sts-slider__slide--in-reverse {
  visibility: visible;
  display: block;
  animation: sts-animation__slide-left reverse 0.2s both;
}

@keyframes sts-animation__slide-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-4em);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes sts-animation__slide-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(4em);
    opacity: 0;
    visibility: hidden;
  }
}
