<form class="sts-form" method="POST" action="{{ actions.signInWithEmailAndPassword }}">
    {{> components/sts/_helpers }}
    <fieldset class="sts-field-wrap">
      <div class="sts-form-password-wrap">
          <input class="u-hd" type="email" name="email" autocomplete="username" autocapitalize="off" autocorrect="off" spellcheck="false" value="{{email}}" />
        <label class="sts-field-wrap__title" for="signin_field_email">Please enter your password</label>
        <input class="sts-input sts-field-wrap__field" type="password" name="password" autocomplete="password" autocapitalize="off" autocorrect="off" spellcheck="false" value="{{password}}" />
      </div>
      <button class="sts-button sts-field-wrap__field" type="submit">Log In {{> components/icon/arrow-inline }}</button>
    </fieldset>
    <aside class="sts-form_section">
      <div class="sts-field-wrap">
        <p class="sts-field-wrap__title">If you don't know your password, we can email you a log-in link</p>
        <a href="/reset" class="sts-button sts-button--secondary sts-field-wrap__field">Recover password {{> components/icon/arrow-inline
        }}</a>
      </div>
    </aside>
    <aside class="sts-form_section">
      <div class="sts-field-wrap">
        <button class="sts-button sts-button--secondary sts-js-rewind sts-field-wrap__field" type="submit">Start Over {{> components/icon/arrow-inline }}</button>
      </div>
    </aside>
</form>
