<form class="sts-form">
  {{> components/sts/_helpers }}
  <fieldset class="sts-field-wrap">
    <div class="sts-field-wrap__field">
      {{> components/oauth-cta/_oauth-cta-content }}
    </div>
  </fieldset>

  <p class="signin-form__prelude"> <span>or</span> </p>

  <fieldset class="sts-field-wrap">
    <label class="sts-field-wrap__title">{{signInPageText.email}}</label>
    <input class="sts-input sts-field-wrap__field" type="email" name="email" autocomplete="username" autocapitalize="off" autocorrect="off" spellcheck="false" value="{{email}}" />
    <input class="sts-input sts-field-wrap__field u-h" type="password" name="password" autocomplete="password" autocapitalize="off" autocorrect="off" spellcheck="false" value="{{password}}" />
    <button class="sts-button sts-field-wrap__field" type="submit">Continue {{> components/icon/arrow-inline }}</button>
  </fieldset>
</form>
