{{#each oauth.all }}
  <a id="oauth_cta_{{ id }}" href="{{ url }}" class="form-button form-button--reverse form-button--secondary form-field-wrap__field" type="submit"><span class="form-button__icon form-button__icon--{{ id }}"></span> {{text}}</a>
{{/each }}
