/**
 * OAuth CTA Component styles
 */

.oauth {
  @extend %content-container;
  background: var(--color-page-bg);
  padding-top: 2rem;
  padding-bottom: 0.6rem;
}

%oauth__cta {
  @extend %font-text-sans-2;
  color: #333;
  display: block;
  text-decoration: none;
  padding: 0.8rem 1rem 0.6rem 3.8rem;
  margin: 0 0 1.2rem;
  border: 1px solid var(--color-border);
  border-radius: 9999px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 1rem center;

  @if $is-snow > 0 {
    @extend %font-text-sans-3;
    line-height: 3.4rem;
    height: 3.4rem;
    padding: 0 1.8rem 0 4.8rem;
    background-position: 1.6rem center;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    border-color: color(var(--color-border) lightness(- 10%));
  }
}

.oauth__cta--google {
  @extend %oauth__cta;
  background-image: inline("icon-google.svg");
  margin-bottom: 0;
}

.oauth__cta--facebook {
  @extend %oauth__cta;
  background-image: inline("icon-facebook.svg");
}
