/**
 * OAuth CTA Component styles
 */

.oauth {
  @extend %content-container;
  background: #f1f1f1;
  padding-top: 2rem;
  padding-bottom: 0.6rem;
}

%oauth__cta {
  @extend %font-text-sans-2;
  color: #333;
  display: block;
  text-decoration: none;
  padding: 0.8rem 1rem 0.6rem 3.8rem;
  margin: 0 0 1.2rem;
  border: 1px solid #fff;
  border-radius: 1.5rem;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 1rem center;

  &:hover,
  &:focus {
    text-decoration: none;
    border-color: #dcdcdc;
  }
}

.oauth__cta--google {
  @extend %oauth__cta;
  background-image: inline("icon-google.svg");
  margin-bottom: 0;
}

.oauth__cta--facebook {
  @extend %oauth__cta;
  background-image: inline("icon-facebook.svg");
}
