<h1 class="error-content-heading">{{ text.title }}</h1>

<section class="error-content">
  <p class="error-content__desc">{{ text.description }}</p>

  {{# text.details }}
    <p class="error-content__details">{{ text.details }}</p>
  {{/text.details}}
</section>
