<h1 class="page-heading">{{ text.title }}</h1>

<section class="page-standfirst">
  <p class="page-standfirst__paragraph">{{{ text.description }}}</p>
</section>

<section class="page-content">
  {{# text.details }}
    <p class="error-content__details">{{ text.details }}</p>
  {{/text.details}}
</section>
