/**
 * Form foundations.
 *   Partials for shared form definitions.
 */

/** Form colours **/

:root {
  --c-form-prelude: #333;
  --c-form-fieldset-border: #eee;
  --c-form-error: #d61d00;
  --c-form-field-border: #ddd;
  --c-form-field-border--focus: #6e99b3;
  --c-form-button--submit: #005689;
}


/** Form prelude - the "or" text before a form **/

%form__prelude {
  @extend %font-sub-heading-2;
  color: var(--c-form-prelude);
  font-weight: bold;
  margin: 0;
  padding: 1.2rem 0;
  text-align: center;
}


/** Form fieldset **/

%form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}


/** Form error **/

%form__error {
  @extend %font-text-2;
  color: var(--c-form-error);
  background: transparent inline("status-alert.svg") left top no-repeat;
  margin: 0 0 1.8rem 0;
  padding: 0 0 0 2.8rem;
  line-height: 2.2rem;
}


/** Form Control - to group fields with a label on same line **/

%form__control {
  @extend %row;
  margin: 0;
}


/** Form labels **/

%form__label {
  @extend %font-text-2;
  color: #333;
  display: block;
  font-weight: normal;
  cursor: pointer;
}

%form__label--checkbox {
  @extend %font-text-1;
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 2.5rem;
}


/** Form buttons **/
%form__button--submit {
  @extend %font-text-sans-2;
  background: var(--c-form-button--submit) inline("arrow-white-right.svg") center right no-repeat;
  border: 0;
  border-radius: 18px;
  color: white;
  display: block;
  text-align: left;
  padding: 0.8rem 4rem 0.8rem 1.6rem;

  &:focus,
  &:hover {
    background-color: color(var(--c-form-button--submit) lightness(- 10%));
    outline: none;
  }

  &:focus {
    box-shadow: 0 0 2px 2px color(var(--c-form-button--submit) alpha(50%));
  }
}


/** Form fields **/

%form__text-field {
  @extend %font-text-sans-3;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  border: 1px solid var(--c-form-field-border);
  color: #000;
  padding: 7px 15px;
  border-radius: 18px;
  margin: 0.2rem 0;
  width: 100%;

  &:focus {
    box-shadow: 0 0 2px 2px color(var(--c-form-field-border) alpha(50%) lightness(- 10%));
    border-color: color(var(--c-form-field-border) lightness(- 10%));
    outline: none;
  }

  /* override default invalid field styles, only show on focus */

  &:invalid {
    border-color: var(--c-form-field-border);
    box-shadow: none;

    &:focus {
      border-color: var(--c-form-error);
      box-shadow: 0 0 2px 2px color(var(--c-form-error) alpha(50%) lightness(+ 20%));
    }
  }
}


/** Form checkboxes **/

%form__fancy-checkbox {
  @extend %font-text-sans-3;
  display: block;
  content: " ";
  position: absolute;
  top: -0.2rem;
  left: 0;
  background: white center center no-repeat;
  border: 1px solid var(--c-form-field-border);
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0 0.5rem 0 0;
  text-align: center;
  font-weight: normal;

  /* px line height required for IE */
  line-height: 20px;
}

%form__fancy-checkbox--checked {
  @extend %form__fancy-checkbox;
  background-image: inline("tick.svg");
}

@define-mixin formCheckbox $labelClass {

  /* Only display nicer checkbox when browser supports CSS3 - should fallback nicely */

  &:checked,
  &:not(:checked) {
    position: absolute;
    z-index: -100;
  }

  &:focus + $labelClass::before {
    border-color: color(var(--c-form-field-border) lightness(- 10%));
    box-shadow: 0 0 2px 2px color(var(--c-form-field-border) alpha(50%) lightness(- 10%));
  }

  &:checked + $labelClass::before {
    @extend %form__fancy-checkbox--checked;
  }

  &:not(:checked) + $labelClass::before {
    @extend %form__fancy-checkbox;
  }
}
