/**
 * Form foundations.
 *   Partials for shared form definitions.
 */

@import "_colors.css";

/** Form colours **/

:root {
  --c-form-fieldset-border: #eee;
  --c-form-error: #d61d00;
  --c-form-field-border: #ddd;
  --c-form-field-border--focus: #6e99b3;
  --c-form-button--submit: var(--color-brand);
}


/** Form prelude - the "or" text before a form **/

%form__prelude {
  @extend %font-text-sans-3;
  margin: 0;
  padding: 2.5rem 0;
  text-align: center;
  font-weight: 300;
  background: linear-gradient(to bottom, transparent calc(50% - 1px), var(--color-border) calc(50% - 1px), var(--color-border) calc(50%), transparent calc(50%));

  > * {
    background: var(--color-bg);
    padding: 0 1rem;
  }
}


/** Form fieldset **/

%form__fieldset {
  @extend %row;

  border: none;
  margin: 0;
  padding: 0;
}


/** Form error **/

%form__error {
  @extend %font-text-2;
  color: var(--c-form-error);
  background: transparent inline("status-alert.svg") left top no-repeat;
  margin: 0 0 1.8rem 0;
  padding: 0 0 0 2.8rem;
  line-height: 2.2rem;
}


/** Form Control - to group fields with a label on same line **/

%form__control {
  @extend %row;
  margin: 0;
}


/** Form labels **/

%form__label {
  @extend %font-text-sans-3;
  display: block;
  font-weight: normal;
  cursor: pointer;
}

%form__label--checkbox {
  @extend %font-text-1;
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 2.5rem;
}


/** Form buttons **/
%form__button--submit {
  @extend %font-text-sans-3;
  background: var(--color-cta);
  border: 0;
  border-radius: 9999px;
  color: var(--color-brand);
  text-align: left;
  transition: 0.15s;
  padding: 0 1.75rem;
  line-height: 4.2rem;
  height: 4.2rem;
  display: block;
  display: flex;
  align-items: center;

  svg {
    vertical-align: middle;
    transition: 0.15s;
    margin-left: 2rem;
    margin-right: -1rem;

    * {
      fill: currentColor;
    }
  }

  &:focus,
  &:hover {
    background-color: color(var(--color-cta) lightness(-2.5%));
    outline: none;

    svg {
      transform: translateX(5%);
    }
  }

  &:focus {
    box-shadow: 0 0 2px 0 var(--color-border);
  }

}


/** Form fields **/

%form__text-field {
  @extend %font-text-sans-3;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  border: 1px solid var(--color-border);
  color: #000;
  padding: 0 1.8rem;
  line-height: 4.2rem;
  height: 4.2rem;
  border-radius: 99999px;
  margin: 0.2rem 0;
  width: 100%;
  transition: 0.15s;

  &:hover {
    border-color: var(--color-border-hover);
  }

  &:focus {
    border-color: color(var(--color-border-hover) lightness(-20%));
    outline: none;
  }

  /* override default invalid field styles, only show on focus */

  &:invalid:focus {
    border-color: #e00914;
  }
}


/** Form checkboxes **/

%form__fancy-checkbox {
  @extend %font-text-sans-3;
  display: block;
  content: " ";
  position: absolute;
  top: -0.2rem;
  left: 0;
  background: white center center no-repeat;
  border: 1px solid var(--c-form-field-border);
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0 0.5rem 0 0;
  text-align: center;
  font-weight: normal;

  /* px line height required for IE */
  line-height: 20px;
}

%form__fancy-checkbox--checked {
  @extend %form__fancy-checkbox;
  background-color: var(--color-brand);
  background-image: inline("tick.svg");
}

@define-mixin formCheckbox $labelClass {

  /* Only display nicer checkbox when browser supports CSS3 - should fallback nicely */

  &:checked,
  &:not(:checked) {
    position: absolute;
    z-index: -100;
    opacity: 0;
    pointer-events: none;
  }

  &:focus + $labelClass::before,
  &:hover + $labelClass::before {
    border-color: var(--color-border-hover);
  }

  &:checked + $labelClass::before {
    @extend %form__fancy-checkbox--checked;
  }

  &:not(:checked) + $labelClass::before {
    @extend %form__fancy-checkbox;
  }
}
