{{# partial "content" }}

  <p>Creating an account means you can save articles for later, leave comments, enter competitions, become a member and lots more.</p>

  <p>Want to know more? Read our FAQs</p>

  <h1>{{ title }}</h1>

  <form action="{{ actions.signIn }}">
      <fieldset>
          <label>Email address</label>
          <input type="email" />
      </fieldset>
  </form>

{{/partial}}

{{> layout}}
