<form class="passwordless-signin-form" method="POST" action="{{ actions.signInWithEmailAndPassword }}">
    {{> components/passwordless-signin/_helpers }}
    <fieldset class="passwordless-signin-field-wrap">
      <div class="passwordless-signin-form-password-wrap">
          <input class="u-h" type="email" name="email" autocomplete="username" autocapitalize="off" autocorrect="off" spellcheck="false" value="{{email}}" />
        <label class="passwordless-signin-field-wrap__title" for="signin_field_email">Please enter your password</label>
        <input class="passwordless-signin-input passwordless-signin-field-wrap__field" type="password" name="password" autocomplete="password" autocapitalize="off" autocorrect="off" spellcheck="false" value="{{password}}" />
      </div>
      <button class="passwordless-signin-button passwordless-signin-field-wrap__field" type="submit">Log In {{> components/icon/arrow-inline }}</button>
    </fieldset>
    <aside class="passwordless-signin-form_section">
      <div class="passwordless-signin-field-wrap">
        <p class="passwordless-signin-field-wrap__title">If you don't know your password, we can email you a log-in link</p>
        <a href="/reset" class="passwordless-signin-button passwordless-signin-button--secondary passwordless-signin-field-wrap__field">Recover password {{> components/icon/arrow-inline
        }}</a>
      </div>
    </aside>
    <aside class="passwordless-signin-form_section">
      <div class="passwordless-signin-field-wrap">
        <button class="passwordless-signin-button passwordless-signin-button--secondary passwordless-signin-js-rewind passwordless-signin-field-wrap__field" type="submit">Start Over {{> components/icon/arrow-inline }}</button>
      </div>
    </aside>
</form>
