<form class="passwordless-signin-form" action="{{ actions.signInWithEmail }}" method="POST">
  {{> components/passwordless-signin/_helpers }}
  <fieldset class="passwordless-signin-field-wrap">
    <div class="passwordless-signin-field-wrap__field">
      {{> components/oauth-cta/_oauth-cta-content }}
    </div>
  </fieldset>

  <p class="signin-form__prelude"> <span>or</span> </p>

  <fieldset class="passwordless-signin-field-wrap">
    <label class="passwordless-signin-field-wrap__title">{{passwordlessSignInPageText.email}}</label>
    <input class="passwordless-signin-input passwordless-signin-field-wrap__field" type="email" name="email" autocomplete="username" autocapitalize="off" autocorrect="off" spellcheck="false" value="{{email}}" />
    <input class="passwordless-signin-input passwordless-signin-field-wrap__field u-h" type="password" name="password" autocomplete="password" autocapitalize="off" autocorrect="off" spellcheck="false" value="{{password}}" />
    <button class="passwordless-signin-button passwordless-signin-field-wrap__field" type="submit">Continue {{> components/icon/arrow-inline }}</button>
  </fieldset>
</form>
