<div class="social">
  {{#each oauth.all }}
    <div class="social__cta-wrapper">
      <a class="social__cta--{{ id }}" id="social_cta_{{ id }}" href="{{ url }}">{{ text }}</a>
    </div>
  {{/each }}
</div>
