@import "../logo/_logo.css";
@import "_colors.css";

@define-mixin header__back-link--dark {
  .header__back-link {
    color: var(--c-back-link-dark);
  }

  :--header__back-button {
    background-image: inline("arrow-back-dark.svg");
    border: 1px solid color(var(--c-back-link-dark) alpha(30%));
  }

  :--header__back-button--active {
    border-color: var(--c-back-link-dark);
  }
}

@define-mixin multiline-height $number {
  $bgsize: calc($number * 4 - 3);
  height: calc($bgsize * 1px);
}

@define-mixin multiline $number, $color, $position: bottom {
  $bgsize: calc($number * 4 - 3);
  background-image: repeating-linear-gradient(to bottom, $color, $color 1px, transparent 1px, transparent 4px);
  background-repeat: repeat-x;
  background-position: $position;
  background-size: 1px calc($bgsize * 1px);
}

:root {
  --c-back-link-dark: #333;
  --c-back-link-light: #fff;
}

@if $is-snow < 1 {
  .header {
    background: var(--color-brand);
  }

  .header__inner {
    @extend %page-block;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo-link {
    float: right;
    background-image: inline("../logo/guardian-logo-160.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    margin: 0.9rem 0;
    overflow: hidden;
    height: height("../logo/guardian-logo-160.svg");
    width: width("../logo/guardian-logo-160.svg");
  }

  .header__logo-link-text {
    display: block;
    text-indent: -1000rem;
  }

  @custom-selector :--header__back-button .header__back-link::before;
  @custom-selector :--header__back-button--active .header__back-link:focus::before, .header__back-link:hover::before;

  /**
   * Pseudo-element for the back-button (arrow)
   */

  :--header__back-button {
    content: "";
    background: inline("arrow-back-light.svg") center center no-repeat;
    border: 1px solid color(var(--c-back-link-light) alpha(30%));
    border-radius: 100%;
    display: inline-block;
    height: 3.2rem;
    width: 3.2rem;
    margin-right: 0.5rem;
    vertical-align: middle;
  }

  :--header__back-button--active {
    border-color: var(--c-back-link-light);
  }


  .header__back-link {
    @extend %font-text-1;
    color: var(--c-back-link-light);
    line-height: 4.8rem;

    @if var(--is-snow) > 0 {
      @extend %font-text-sans-0;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: none;

      .header__back-link-text {
        opacity: 1;
        text-decoration: underline;
      }
    }
  }

  .header__back-link-text {
    opacity: 0;
    transition: opacity 0.15s linear;

    @media all and (max-width: 50rem) {
      display: none;
    }
  }

}

@if $is-snow > 0 {
  .header {
    background: var(--color-card);
    color: #333;
    border-bottom: 1px solid #aabfc6;
    padding: 6px 0;

    &::after {
      @mixin multiline 4, #aabfc6, top;
      @mixin multiline-height 4;
      content: "";
      background-color: #fff;
      margin-bottom: calc((6px + 1px) * -1);
      margin-top: 6px;
      width: 100%;
      display: block;
    }
  }

  .header__inner {
    @extend %page-block;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .header__logo-link {
    order: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    overflow: hidden;
    float: right;
    background-image: inline("../logo/guardian-logo-160-snow.svg");
    height: 60px;
    width: 183px;
  }

  .header__logo-link-text {
    display: block;
    text-indent: -1000rem;
  }

  .header__back-link {
    @extend %font-text-sans-2;
    color: #000;
    transition: 0.125s ease-out;
    order: 99;

    @media (--viewport-max-phablet) {
      display: none;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 4px;
      height: 4px;
      transform: translateY(-1px) rotate(135deg);
      border: 1px solid currentColor;
      border-left: transparent;
      border-top: transparent;
      margin-right: 2px;
      vertical-align: middle;
      transition: 0.125s ease-out;
    }

    &:hover {
      text-decoration: none;
      color: var(--color-brand);

      &::before {
        transform: translateY(-1px) translateX(-2px) rotate(135deg);
      }
    }
  }

}
