<header class="header">
  <div class="header__inner">
    <a class="header__back-link" href="http://www.theguardian.com">
      <span class="header__back-link-text"> {{layout.headerText.back}} </span>
    </a>
    <a class="header__logo-link" href="http://www.theguardian.com">
      <span class="header__logo-link-text"> {{layout.headerText.logo}} </span>
    </a>
  </div>
</header>
