<header class="header">
  <div class="header__inner">
    <a class="header__logo-link" href="{{ layout.links.headerLogo }}">
      <span class="header__logo-link-text">{{ layout.headerText.logo }}</span>
    </a>
  </div>
</header>
