<header class="header">
  <div class="header__inner">
    <a class="header__back-link" href="http://www.theguardian.com">Back to the Guardian</a>
    <a class="header__logo-link" href="http://www.theguardian.com">
      <span class="header__logo-link-text">The Guardian</span>
    </a>
  </div>
</header>
