@import "../logo/_logo.css";

:root {
  --c-back-link-dark: #333;
  --c-back-link-light: #fff;
}

.header {
  background: #005689;
}

.header__inner {
  @extend %page-block;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-link {
  float: right;
  background-image: inline("../logo/guardian-logo-160.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  margin: 0.9rem 0;
  overflow: hidden;
  height: height("../logo/guardian-logo-160.svg");
  width: width("../logo/guardian-logo-160.svg");
}

.header__logo-link-text {
  display: block;
  text-indent: -1000rem;
}

@custom-selector :--header__back-button .header__back-link::before;
@custom-selector :--header__back-button--active .header__back-link:focus::before, .header__back-link:hover::before;

/**
 * Pseudo-element for the back-button (arrow)
 */
:--header__back-button {
  content: "";
  background: inline("arrow-back-light.svg") center center no-repeat;
  border: 1px solid color(var(--c-back-link-light) alpha(30%));
  border-radius: 100%;
  display: inline-block;
  height: 3.2rem;
  width: 3.2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

:--header__back-button--active {
  border-color: var(--c-back-link-light);
}


.header__back-link {
  @extend %font-text-1;
  color: var(--c-back-link-light);
  line-height: 4.8rem;

  &:hover,
  &:focus {
    text-decoration: none;

    .header__back-link-text {
      opacity: 1;
      text-decoration: underline;
    }
  }
}

@define-mixin header__back-link--dark {
  .header__back-link {
    color: var(--c-back-link-dark);
  }

  :--header__back-button {
    background-image: inline("arrow-back-dark.svg");
    border: 1px solid color(var(--c-back-link-dark) alpha(30%));
  }

  :--header__back-button--active {
    border-color: var(--c-back-link-dark);
  }
}

.header__back-link-text {
  opacity: 0;
  transition: opacity 0.15s linear;

  @media all and (max-width: 50rem) {
    display: none;
  }
}
