.skin-members {
  background-color: white;

  .header__logo-link {
    background-image: inline("guardian-members-logo.svg");
    height: height("guardian-members-logo.svg");
    width: width("guardian-members-logo.svg");
    margin: 1rem 0 1.4rem;
  }

  .header {
    background-image: inline("bg-masthead-72px.png");
    background-position: center top;

    @media (--viewport-max-tablet) {
      background-position: -1010px top;
    }
  }
}


@media (--viewport-min-tablet) {
  .skin-members {
    @mixin header__back-link--dark;
  }
}
