
%oauth-mem-form__control-column {
  @extend %column-6;
  float: left;

  @media (--viewport-max-mobile-landscape) {
    width: 100%;
    float: none;
  }
}

.skin-members-B {
  background-color: white;

  .header__logo-link {
    background-image: inline("guardian-members-logo.svg");
    height: height("guardian-members-logo.svg");
    width: width("guardian-members-logo.svg");
    margin: 1rem 0 1.4rem;
  }

  .header {
    background-image: inline("bg-masthead-72px.png");
    background-position: center top;

    @media (--viewport-max-tablet) {
      background-position: -1010px top;
    }
  }

  .page-heading {
    @extend %content-container-v2;
    margin-top: 0.6rem;
  }

  .page-heading--small-2 {
    @extend %content-container-v2;
    margin-top: 0.4rem;
    padding-left: 0;
  }

  .register__progress-bar-mem {
    @extend %content-container-v2;
    border-bottom: 0.1rem solid #4bc6df;
    margin-top: 3.2rem;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 1.2rem;
  }

  .register__cta-section {
    @extend %content-container-v2;
    margin-top: 2.4rem;
    margin-bottom: 0.7rem;
    padding-right: 0;
    text-align: right;

    p {
      margin: 0;
      color: #767676;
    }
  }

  .register__section {
    background-color: white;
  }

  .oauth {
    @extend %content-container-v2;
    background-color: #f6f6f6;
    padding-top: 2rem;
    padding-bottom: 2rem;

  }

  .oauth__cta-wrapper {
    @extend %oauth-mem-form__control-column;
  }

  .oauth__cta-wrapper:first-child {
    @media (--viewport-min-mobile-landscape) {
      padding-right: 1rem;
    }
  }

  .oauth__cta-wrapper:last-child {
    @media (--viewport-min-mobile-landscape) {
      padding-left: 1rem;
    }
  }

  .oauth__cta--facebook,
  .oauth__cta--google {

    padding-left: 1rem;
    font-weight: bold;
    text-align: center;

    @media (--viewport-max-mobile-landscape) {
      float: none;
    }
  }

  .register-form {
    @extend %content-container-v3;
    padding: 0;
  }

  .register-form__prelude {
    background-color: #f6f6f6;

    @media (--viewport-min-mobile-landscape) {
      padding-top: 3.5rem;
    }
  }

  .register-form__fieldset {
    background-color: #f6f6f6;
    padding: 0 0.5rem;
  }

  .register-form__label--username {
    line-height: 1.8rem;
  }

  .register-form__field--username-mobile {
    @media (--viewport-min-mobile-landscape) {
      display: none;
    }
  }

  .register-form__field--username-non-mobile {
    @media (--viewport-max-mobile-landscape) {
      display: none;
    }
  }

  .register-form__label--username-note {
    @extend %font-text-sans-1;
    color: #767676;
  }

  .register-form__control--gnm-marketing {
    padding-top: 1.8rem;
  }

  .register-form__control--3rd-party-marketing {
    padding-bottom: 1.8rem;
  }

  .terms {
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    p {
      @extend %font-text-sans-1;
      color: #767676;
      border: none;
      padding-top: 1.2rem;
      margin-bottom: 1.8rem;
    }
  }

  .register-form__control--submit {
    margin-bottom: 3.6rem;
  }

  .register-form__submit-button {
    @extend %font-text-sans-2;
    font-size: 2rem;
    height: 5rem;
    border-radius: 65rem;
    padding-left: 2rem;
    padding-right: 5.5rem;
    background: var(--c-form-button--submit) inline("arrow-white-right-circle.svg") center right no-repeat;
    background-position: right 0.7rem center;
  }

  .register__bottom-progress-bar-mem {
    @extend %content-container-v2;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 1.2rem;

    @media (--viewport-min-mobile-landscape) {
      display: none;
    }
  }
}

@media (--viewport-min-tablet) {
  .skin-members {
    @mixin header__back-link--dark;
  }
}
