:root {
  --c-members-button: #7d0068;
}

.skin-members {
  .header__logo-link {
    background-image: inline("guardian-members-logo.svg");
    height: height("guardian-members-logo.svg");
    width: width("guardian-members-logo.svg");
    margin: 1rem 0 1.4rem;
  }

  .header {
    background-image: inline("bg-masthead-72px.png");
    background-position: center top;

    @media (--viewport-max-tablet) {
      background-position: -1010px top;
    }
  }

  .register-form__submit-button,
  .signin-form__submit-button,
  .register-confirm__complete-registration-button {
    background-color: var(--c-members-button);

    &:focus,
    &:hover {
      background-color: color(var(--c-members-button) lightness(- 10%));
    }

    &:focus {
      box-shadow: 0 0 2px 2px color(var(--c-members-button) alpha(50%));
    }
  }

}


@media (--viewport-min-tablet) {
  .skin-members {
    @mixin header__back-link--dark;
  }
}
